@media print {

    .section-header,
    .background {
        display: none !important;

    }

    #foto_transaksi {
        width: 80vh;
        height: 80vh;

    }
}

.table-lurus {
    text-align: center;
}

.tr {
    font-size: 90px;
}

.table-title th {
    background: rgb(96, 106, 236);
    color: white;
}

.mymodal-text {
    font-size: 20px;
}

#icon-doc:hover {
    cursor: pointer;
}

.text {
    text-align: right;
    font-size: 13px;
}

#judul {
    text-align: center;
}

#halaman {
    width: auto;
    height: auto;
    position: absolute;
    border: 1px solid;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
}

.coba {
    width: -40%;
}

.card-content {
    background: rgb(248, 248, 248);
    box-shadow: 3px 0 10px rgb(139, 136, 136);
}

.section-header {
    box-shadow: 1px 2px 12px rgb(146, 140, 140) !important;
}

.background {
    background: #ececec
}